# Configuration file for task_schedule.pl

subject      Update timelines and cmd_states   # subject of email
timeout      5000                         # Default tool timeout
heartbeat_timeout 300                     # Maximum age of heartbeat file (seconds)
loud         0                            # Run loudly

# Data files and directories.  The *_dir vars can have $ENV{} vars which
# get interpolated.  (Note lack of task name after TST_DATA because this is just for test).

data_dir     $ENV{SKA_DATA}/timelines/      # Data file directory
log_dir      $ENV{SKA_DATA}/timelines/Logs  # Log file directory
bin_dir      $ENV{SKA_SHARE}/timelines/     # Bin dir (optional, see task def'n)
master_log   timelines_cmd_states.log                 # Composite master log (created in log_dir)
disable_alerts 0

# Email addresses that receive an alert if there was a severe error in
# running jobs (i.e. couldn't start jobs or couldn't open log file).
# Processing errors *within* the jobs are caught with watch_cron_logs

alert       aca@head.cfa.harvard.edu
#notify     jeanconn@head.cfa.harvard.edu
# alert       another_person@head.cfa.harvard.edu

# Define task parameters
#  cron: Job repetition specification ala crontab
#  exec: Name of executable.  Can have $ENV{} vars which get interpolated.
#        If bin_dir is defined then bin_dir is prepended to non-absolute exec names.
#  log: Name of log.  Can have $ENV{} vars which get interpolated.
#        If log is set to '' then no log file will be created
#        If log is not defined it is set to <task_name>.log.
#        If log_dir is defined then log_dir is prepended to non-absolute log names.
#  timeout: Maximum time (seconds) for job before timing out

# This has multiple jobs which get run in specified order
# Note the syntax 'exec <number> : cmd', which means that the given command is
# executed only once for each <number> of times the task is executed.  In the
# example below, the commands are done once each 1, 2, and 4 minutes, respectively.

<task timelines_cmd_states>
      cron       */10 * * * *
      check_cron 15 7 * * *
      exec 1: parse_cmd_load_gen.pl --dbi 'sybase' --server 'sybase' --verbose
      exec 1: update_load_seg_db.py --dbi 'sybase' --server 'sybase' --verbose
      exec 6: $ENV{SKA_SHARE}/cmd_states/update_cmd_states.py --dbi 'sybase' --server 'sybase' --h5file $ENV{SKA_DATA}/cmd_states/cmd_states.h5
      exec 1: parse_cmd_load_gen.pl --dbi 'sqlite' --server $ENV{SKA_DATA}/cmd_states/cmd_states.db3 --verbose
      exec 1: update_load_seg_db.py --dbi 'sqlite' --server $ENV{SKA_DATA}/cmd_states/cmd_states.db3 --verbose
      exec 6: $ENV{SKA_SHARE}/cmd_states/update_cmd_states.py --dbi 'sqlite' --server $ENV{SKA_DATA}/cmd_states/cmd_states.db3 --h5file ""
      context 1
      <check>
        <error>
          #    File           Expression
          #  ----------      ---------------------------
             timelines_cmd_states.log     Use of uninitialized value
             timelines_cmd_states.log     error
             timelines_cmd_states.log     warning
             timelines_cmd_states.log     fatal
        </error>
      </check>
</task>
